*.xml
build/
build\
nbproject/private/private.xml
nbbuild/
dist/
nbdist/
.nb-gradle/
/build
/dist
/hsqldb
/lib
/nbproject
/test
build.xml
derby.log
LICENSE
manifest.mf
build/built-jar.properties
dist/UyTube.jar
*.xml
build/built-jar.properties
nbproject/private/private.properties
build/built-jar.properties
nbproject/private/private.properties
nbproject/project.properties
*.properties
build/built-jar.properties
data/uytubedb.lck
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
uyTube - Parte 2/uytube - Estacion de Trabajo/nbproject/build-impl.xml
uyTube - Parte 2/uytube - Estacion de Trabajo/nbproject/genfiles.properties
uyTube - Parte 2/uytube - Estacion de Trabajo/nbproject/private/private.properties
uyTube - Parte 2/uytube - Estacion de Trabajo/nbproject/project.properties
uyTube - Parte 2/uytube - Estacion de Trabajo/nbproject/project.xml
uyTube - Parte 2/uytube - Servidor Central/nbproject/build-impl.xml
uyTube - Parte 2/uytube - Servidor Central/nbproject/genfiles.properties
uyTube - Parte 2/uytube - Servidor Central/nbproject/private/private.properties
uyTube - Parte 2/uytube - Servidor Central/nbproject/project.properties
uyTube - Parte 2/uytube - Servidor Central/nbproject/project.xml
uyTube - Parte 2/uytube - Servidor Web/nbproject/build-impl.xml
uyTube - Parte 2/uytube - Servidor Web/nbproject/genfiles.properties
uyTube - Parte 2/uytube - Servidor Web/nbproject/private/private.properties
uyTube - Parte 2/uytube - Servidor Web/nbproject/project.properties
uyTube - Parte 2/uytube - Servidor Web/nbproject/project.xml
uyTube - Parte 2/uytube - ServidorWeb/WebApplication1/nbproject/project.properties
