*.xml
build/
build\
nbproject/private/private.xml
nbbuild/
dist/
nbdist/
.nb-gradle/
/build
/dist
/hsqldb
/lib
/nbproject
/test
build.xml
derby.log
LICENSE
manifest.mf
build/built-jar.properties
dist/UyTube.jar
*.xml
build/built-jar.properties
nbproject/private/private.properties
build/built-jar.properties
nbproject/private/private.properties
nbproject/project.properties
*.properties
build/built-jar.properties
data/uytubedb.lck
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
